@keyframes appear {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes diving {
  0% {
             margin-top:0.5rem;
  }
  25% {
             margin-top:0.75rem;
  }
  50% {
    margin-top:0.5rem;
  }
  75% {
    margin-top: 0.25rem;
  }
  100% {
             margin-top:0.5rem;
  }
}

@keyframes diving-rotate {
  0% {
             transform:rotate(0deg); 
  }
  25% {
             transform:rotate(0.7deg); 
  }
  75% {
            transform:rotate(-0.5deg); 
  }
  100% {
            transform:rotate(0deg); 
  }
}



.PostCard {
  list-style: none;
  width: 17rem;
  height: 23rem;
  margin: 1rem 0;
  color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: hard-light;
  position: relative;
  overflow: hidden;
}

.PostCard {
  animation: 1s ease 0s 1 appear, diving 2.5s linear infinite, diving-rotate 2.5s linear infinite; 
}

.PCHeader {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
}

.PCHeader .title {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-weight: 100;
  text-align: center;
}

.PCMain {
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 500;
  position: absolute;
  top: 100%;
  left: 0.5rem;
  max-width: 15rem;
  bottom:-100%;
  padding: 0.4rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.40s ease-in-out;
}

/*.PostCard:hover .PCMain*/
.PCMain {
  bottom: auto;
  top: 25%;
}


.PCFooter {
  position: absolute;
  bottom: -5rem;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s ease-in-out;
  transition-delay: 0.30s;
}

/*.PostCard:hover .PCFooter*/
.PCFooter {
  bottom:0;
}

.PCFooter a {
  width: 100%;
  display:block;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none ;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 1.5rem 0.5rem;
  font-size: 1.1rem;
}

.PCFooter a:hover {
  color: #02BCFF;
}
